**Introduction**

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

https://www.statista.com/statistics/793628/worldwide-developer-survey-most-used-languages/

In this tutorial, we will cover:

* Basic Python: Basic data types (Containers, Lists, Dictionaries, Sets, Tuples), Functions, Classes
* Numpy: Arrays, Array indexing, Datatypes, Array math, Broadcasting
* Matplotlib: Plotting, Subplots, Images
* Other useful libraries: Pandas , Scipy , Opencv

## Basics of Python

In [ ]:
!python --version

Python 3.7.12

### Variables

<div class="alert alert-info">
    <strong>Variable:</strong>
    <ul>
        <li>A variable is a name for a specific location in the memory.</li>
        <li>A variable has a `name`, a `type` and a `value`.</li>
    </ul>
</div>

- In python, we only specify the `name` and the `value`.
- The `type` is determined automatically from the assigned value.

In [ ]:
a = 3

In [ ]:
a

3

In [ ]:
print(a)

3

In [ ]:
type(a)

int

In [ ]:
b = "Hi, I love Python!" 
print(b)
print(type(b))

Hi, I love Python!
<class 'str'>

#### Numbers

In [ ]:
x = 3
print(x)
print(type(x))
#print(x,type(x))

3
<class 'int'>

In [ ]:
print(x + 1)   # Addition;
print(x - 1)   # Subtraction;
print(x * 2)   # Multiplication;
print(x ** 2)  # Exponentiation;
print(1 / 2)    # division
print(8 // 5)   # integer division
print(8 % 5)

4
2
6
9
0.5
1
3

In [ ]:
x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"

4
8

### Logical Operations

In [ ]:
print(1 == 2)

False

In [ ]:
print(1 != 2)

True

In [ ]:
print(3 >= 1)

True

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

#### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw*5)  # prints "hello world"

hello worldhello worldhello worldhello worldhello world

###String Formatting

In [ ]:
print('%s %s %d' % (hello, world, 12))  # prints "hello world 12"

hello world 12

In [ ]:
year = 2021
event = 'Referendum'
print(f'Results of the {year} {event} is win')

Results of the 2021 Referendum is win

In [ ]:
year = 2022
event = 'Referendum'
print('results of the {} {} is win'.format(year,event))

results of the 2022 Referendum is win

Getting Input

In [ ]:
a = int(input('lotfan yek adad'))

lotfan yek adad3

In [ ]:
a

1

In [ ]:
a = (input('Print enter a number'))

Print enter a number7

In [ ]:
type(a)

str

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string; prints "Hello"
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces; prints "  hello"
print(s.center(7))     # Center a string, padding with spaces; prints " hello "
print(s.replace('l', 'p'))  # Replace all instances of one substring with another;
                               # prints "he(ell)(ell)o"

Hello
HELLO
  hello
 hello
heppo

###Strip

In [ ]:

string = """    geeks for geeks    """
print(string)
print(string.strip())  
print(string.strip(' geeks'))

    geeks for geeks
geeks for geeks
for

In [ ]:
 
str1 = 'geeks for geeks'
print(str1)
str2 = 'ekgs'
print(str1.strip(str2))

geeks for geeks
 for

You can find a list of all string methods in the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods).

### Data structures in python

- **List:** A sequence of items.
- **Tuple:** like list, but it is *immutable*.
- **Set:** A collection of distinct items in which the order in not important.
- **Dictinary:** A list of (key, value) pairs.

 ```python
   # List
   my_courses = ["Machine Learning", "Pattern Recognition", "Image Processing"]
   my_grades = [16.5, 18.25, 16.5]
```

```python
   # Tuple
   my_courses = ("Machine Learning", "Pattern Recognition", "Image Processing")
   my_grades = (16.5, 18.25, 16.5)
```

```python
   # Set
   my_courses = {"Machine Learning", "Pattern Recognition", "Image Processing"}
   my_grades = {16.5, 18.25}
```

```python
   # Dictionary
   my_courses = {"Machine Learning": 16.5, 
                 "Pattern Recognition": 18.25, 
                 "Image Processing":15.0}
```

###Lists

In [ ]:
xs = [3, 1, 2 , 4,5,8,9]   
print(xs)
print(xs[0])
print(xs[2])
print(xs[-1])     
print(len(xs))

[3, 1, 2, 4, 5, 8, 9]
3
2
9
7

In [ ]:
print(xs[:3])

[3, 1, 2]

In [ ]:
xs = [3, 1, 2 , 4,5,8,9]

In [ ]:
xs[2] = 'food'    # Lists can contain elements of different types
print(xs)        #Lists are immutable

[3, 1, 'food', 4, 5, 8, 9]

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'food', 4, 5, 8, 9, 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

2 [3]

In [ ]:
xs = [3, 1, 2]   
x = xs.pop(1)     # Remove and return the last element of the list
print(x, xs)

1 [3, 2]

In [ ]:
a = [1,2,5,6]
len(a)

4

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/2/tutorial/datastructures.html#more-on-lists).

Slicing

In [ ]:
nums = [1,2,3,4,5]    
print(nums)        
print(nums[2:4])    
print(nums[2:])     
print(nums[:2])    
print(nums[:])     
print(nums[:-1])    
nums[2:4] = [8, 9] 
print(nums)   
print(nums[::2])

[1, 2, 3, 4, 5]
[3, 4]
[3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 8, 9, 5]
[1, 8, 5]

#### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['dog'])       # Get an entry from a dictionary; prints "cute"
print('c' in d)     # Check if a dictionary has a given key; prints "True"

furry
False

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])  
d

wet

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

#### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
animal2 = {'dog' , 'cat'}
animals == animal2

True

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

#### Tuples

Like lists but immutable

In [ ]:

my_courses = ("Machine Learning", "Pattern Recognition", "Image Processing")
my_grades = (16.5, 18.25, 16.5)

In [ ]:
my_grades[1] 
my_grades[1] = 1000

TypeError: ignored

###Loops In Python => for , while , if

###If statement

In [ ]:
a = 32
b = 31
if b > a:
    print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif b < a :
  print('b is less than a')

SyntaxError: ignored

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

###While loops

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

#Note about Indentation

1
2
3
4
5

In [ ]:
i = 2
while i < 6 :
  print(i)
   i += 1

2
3
4
5

###The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

For loops

In [ ]:

numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0
for deep in numbers:
    sum = sum+deep
print("The sum is", sum)

The sum is 48

For using RANGE

In [ ]:
print((range(10)))
print(list(range(2, 8)))
print(list(range(2, 20, 3)))

range(0, 10)
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [ ]:

courses = ['deep learning', 'reinforcement learning', 'math']

for item in range(len(courses)):
    print(item) 
    print(item)
    print("I like", courses[item])

0
0
I like deep learning
1
1
I like reinforcement learning
2
2
I like math

In [ ]:
courses = ['deep learning', 'reinforcement learning', 'math']

for i in enumerate(courses):
    print(i)

(0, 'deep learning')
(1, 'reinforcement learning')
(2, 'math')

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_lists[2][2])
for item in list_of_lists:
    #for x in item:
        print(item)

9
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

*Functions*

In [ ]:
#Syntax :
'''
def function_name(parameters):
    
	"""docstring"""
	statement(s)
  return outputs...
  '''

'\ndef function_name(parameters):\n\t"""docstring"""\n\tstatement(s)\n  return outputs...\n  '

In [ ]:
def adobe(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'


for x in [-1, 0, 1]:
    print(adobe(x))

negative
zero
positive

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO {}'.format(name.upper()))
    else:
        print('HELLO {}'.format(name))

hello('Bob')
hello('Fred', loud=True)

HELLO Bob
HELLO FRED

Libraries in python

Install

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import numpy as np